

$main:rgb(96, 173, 255);
$second:rgb(68, 134, 255);





$content-main:  rgb(33,33,33);
$content-main-dark: rgb(24, 24, 24);

//like time or last msg
$second-content: rgb(170,170,170);

$hover: #4040406c;;






