

$main:rgb(96, 173, 255);
$second:rgb(68, 134, 255);





$content-main:  rgb(33, 33, 33);
$content-main-dark: rgb(24, 24, 24);
$transition-colors: #272727d3;
$text-main: rgb(255, 255, 255);



//like time or last msg
$second-content: rgb(170,170,170);

$hover: #94949419;


$content-main-l:  rgb(255, 255, 255);
$content-main-dark-l: rgb(255, 255, 255);
$transition-colors-l: #ffffff;
$text-main-l: rgb(0, 0, 0);







