

$main:rgb(96, 173, 255);
$second:rgb(68, 134, 255);




$chat-list-main:  rgb(28, 28, 28);
$chat-list-main-light: rgb(63, 63, 63);

//like time or last msg
$second-content: rgb(123, 123, 123);

$hover: red;






